/* @media (min-width: 769px){
    
    /** Father container **/

    /* .container{
        flex-direction: row;
        /* width: 90%; */
        /* padding: 5px; */
    /* }  */
    /** childs containers **/

    /* .container-sn{
        display: flex;
        width: 50%;
        height: 100%;
    } */
/* }  */