@import url("./desktop/desktop.css");
@import url("./mobile/responsive.css");
@import url("./buttons.css");

:root{
    /*Paleta de colores*/
    --background-color-primary: #302002;
    --border-container-primary: #755415;
    --background-color-secundary-1: #c2c0be;
    --background-color-secundary-2: #4d3116;
    --font-color-primary: #301b07;
    --font-color-secundary: #f5d7ba;
    --white: #c9c9c9;
    --black: #151700;
    --font-family-p: "Roboto", sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family-p);
}

#app{
    background-color: var(--background-color-primary);
}

.main{
    display: flex;
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 15px 0px;
}

.container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-sn:first-child{
    color: var(--font-color-primary); 
    background-color: var(--background-color-secundary-1);
}
