@import url("./desktop/desktop.css");
@import url("./mobile/responsive.css");
@import url("./buttons.css");

:root{
    /*Paleta de colores*/
    --background-color-primary: #302002;
    --border-container-primary: #755415;
    --background-color-secundary-1: #c2c0be;
    --background-color-secundary-2: #4d3116;
    --font-color-primary: #301b07;
    --font-color-secundary: #f5d7ba;
    --white: #c9c9c9;
    --black: #151700;
    --font-family-p: "Roboto", sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family-p);
}

#app{
    background-color: var(--background-color-primary);
}

.main{
    display: flex;
    min-width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 15px 0px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-sn:first-child{
    color: var(--font-color-primary); 
    background-color: var(--background-color-secundary-1);
}



/*Container hijo 2 sn-2*/
.sn-2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: var(--border-container-primary);

}
.sn-2 div > div{
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid var(--black);
    border-radius: 5px;
    box-shadow: 1px 2px 3px 3px rgba(0,0,10,0.8);
    background-color: var(--background-color-secundary-2);
    color: var(--background-color-secundary-1);
}